.nyc_output
**/.vscode/**
.vscode-test/**
**/coverage/
**/.gitignore
.gitattributes
.editorconfig
**/vsc-extension-quickstart.md
**/*.feature
**/*.spec.ts
**/*.ts
**/tsconfig.json
**/tsconfig.base.json
**/tsconfig.test.json
tslint.json

**/*.d.ts
**/*.d.ts.map
**/*.js.map
